{
   "remotes" : [
{%
  set comma = '' %}
{%
  for rem in ( perfsonar_psconfig_remote_remotes | default([]) ) %}
{{comma}}
      {
{%
    set comma = ',' %}
{%
    if rem.opt is defined and rem.opt == '--configure-archives' %}
         "configure-archives" : true,
{%  endif %}
         "url" : "{{ rem.url }}"
      }{%
  endfor %}

   ]
}
